<article class='character-card' data-id='{{id}}'>
	<div class='character-card__image-wrapper'>
		<img src='{{image}}' alt='{{name}}' class='character-card__image' />
	</div>

	<div class='character-card__body'>
		<h3 class='character-card__name'>{{name}}</h3>
		<p class='character-card__origin'>
			<strong class='character-card__origin--cl'>Origin:</strong>
			{{origin}}
		</p>
		<p class='character-card__location'>
			<strong class='character-card__location--cl'>Location:</strong>
			{{location}}
		</p>
	</div>
</article>